<header id="header" class="header">
  <div class="header-nav" >
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <nav class="main-menu">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">
                <img class="logo logo-white" src="../assets/images/logo-nav.png" alt="logo">
                <img class="logo logo-color" src="../assets/images/logo-color.jpg" alt="logo">
              </a>
            </div><!--End navbar-header -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">Interests</a></li>
                <!--                <li><a href="#portfolio">Portfolio</a></li>-->
                <!--                <li><a href="#pricingtable">Pricing</a></li>-->
                <li><a href="#blog">Blog</a></li>
                <!--                <li><a class="last" href="#contact">Contact</a></li>-->
              </ul>
            </div><!--End navbar -->
          </nav>
        </div><!--End col -->
      </div><!--End row -->
    </div><!--End container -->
  </div><!--End header-nav -->
</header>
