<nav class="navbar navbar-expand-lg navbar-dark bg-primary header-nav">
  <div class="container">
   <a href="/#"><img class="navbar-brand" height="48px" src="assets/images/logos/logo.png" alt="Prasheel's logo image"></a>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-12 collapse-brand">
            <a href="javascript:void(0)">
              <img src="assets/images/logos/logo.png">
            </a>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#coding-challenges">Coding Challenges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog-posts">Blog Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
