<footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for stopping by!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://linkedin.com/in/ps011" class="btn btn-neutral btn-icon-only btn-primary btn-lg btn-round" ngbTooltip="Get connected">
          <i class="fa fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://github.com/ps011/ps11" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star this repo on Github">
          <i class="fa fa-github"></i>
        </a>
        <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow me">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Let's be friends">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{ date | date: 'yyyy'}}
          <a href="https://linkedin.com/in/ps011" target="_blank">Prasheel</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://github.com/ps011/ps11/LICENSE.md" class="nav-link" target="_blank">License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
