
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-top clearfix">
        <!--        <div class="col-sm-4">-->
        <!--          <div class="columnbottom-margin subscribe-form-wrap">-->
        <!--            <h4 class="widget-title">Subscribe <span>NewsLetter</span></h4>-->
        <!--            <p>By subscribing to our mailing list you will always get latest news from us.</p>-->
        <!--            &lt;!&ndash; start mailchimp form &ndash;&gt;-->
        <!--            <div class="mc-form-holder">-->
        <!--              <form id="mc-form">-->
        <!--                <input id="mc-email" class="form-control" placeholder="email address" name="EMAIL" type="email">-->
        <!--                <button class="btn" type="submit"><i class="fa fa-paper-plane"></i></button>-->
        <!--                <label for="mc-email"></label>-->
        <!--              </form>-->
        <!--            </div>-->
        <!--            &lt;!&ndash; end mailchimp form &ndash;&gt;-->
        <!--          </div>&lt;!&ndash; end subscribe-form-wrap &ndash;&gt;-->
        <!--        </div>&lt;!&ndash; end col &ndash;&gt;-->
        <!--        <div class="col-sm-4">-->
        <!--          <div class="columnbottom-margin recent-work-wrap">-->
        <!--            <h4 class="widget-title">Recent <span>Work</span></h4>-->
        <!--            <div class="latest-pfolio">-->
        <!--              <div class="col-xs-4 no-space">-->
        <!--                <div class="portfolio-wrapper">-->
        <!--                  <img src="../assets/images/portfolio/thumb/3.jpg" alt="Portfolio Title">-->
        <!--                  <div class="portfolio-overlay">-->
        <!--                    <div class="portfolio-overlay-inner">-->
        <!--                      <div class="portfolio-overlay-content">-->
        <!--                        <div class="portfolio-link">-->
        <!--                          <a title="Details" href="single-portfolio.html"><i class="fa fa-link"></i></a>-->
        <!--                          <a data-lightbox="recentwork" data-title="Image Preview" href="../assets/images/portfolio/3.jpg"><i class="fa fa-search-plus"></i></a>-->
        <!--                        </div>&lt;!&ndash;End portfolio-link &ndash;&gt;-->
        <!--                      </div>&lt;!&ndash;End portfolio-overlay-content &ndash;&gt;-->
        <!--                    </div>&lt;!&ndash;End portfolio-overlay-inner &ndash;&gt;-->
        <!--                  </div>&lt;!&ndash;End portfolio-overlay &ndash;&gt;-->
        <!--                </div>&lt;!&ndash;End portfolio-wrapper &ndash;&gt;-->
        <!--              </div>&lt;!&ndash;End ./col- &ndash;&gt;-->
        <!--              <div class="col-xs-4 no-space">-->
        <!--                <div class="portfolio-wrapper">-->
        <!--                  <img src="../assets/images/portfolio/thumb/6.jpg" alt="Portfolio Title">-->
        <!--                  <div class="portfolio-overlay">-->
        <!--                    <div class="portfolio-overlay-inner">-->
        <!--                      <div class="portfolio-overlay-content">-->
        <!--                        <div class="portfolio-link">-->
        <!--                          <a title="Details" href="single-portfolio.html"><i class="fa fa-link"></i></a>-->
        <!--                          <a data-lightbox="recentwork" data-title="Image Preview" href="../assets/images/portfolio/6.jpg"><i class="fa fa-search-plus"></i></a>-->
        <!--                        </div>&lt;!&ndash;End portfolio-link &ndash;&gt;-->
        <!--                      </div>&lt;!&ndash;End portfolio-overlay-content &ndash;&gt;-->
        <!--                    </div>&lt;!&ndash;End portfolio-overlay-inner &ndash;&gt;-->
        <!--                  </div>&lt;!&ndash;End portfolio-overlay &ndash;&gt;-->
        <!--                </div>&lt;!&ndash;End portfolio-wrapper &ndash;&gt;-->
        <!--              </div>&lt;!&ndash;End ./col- &ndash;&gt;-->
        <!--              <div class="col-xs-4 no-space">-->
        <!--                <div class="portfolio-wrapper">-->
        <!--                  <img src="../assets/images/portfolio/thumb/4.jpg" alt="Portfolio Title">-->
        <!--                  <div class="portfolio-overlay">-->
        <!--                    <div class="portfolio-overlay-inner">-->
        <!--                      <div class="portfolio-overlay-content">-->
        <!--                        <div class="portfolio-link">-->
        <!--                          <a title="Details" href="single-portfolio.html"><i class="fa fa-link"></i></a>-->
        <!--                          <a data-lightbox="recentwork" data-title="Image Preview" href="../assets/images/portfolio/4.jpg"><i class="fa fa-search-plus"></i></a>-->
        <!--                        </div>&lt;!&ndash;End portfolio-link &ndash;&gt;-->
        <!--                      </div>&lt;!&ndash;End portfolio-overlay-content &ndash;&gt;-->
        <!--                    </div>&lt;!&ndash;End portfolio-overlay-inner &ndash;&gt;-->
        <!--                  </div>&lt;!&ndash;End portfolio-overlay &ndash;&gt;-->
        <!--                </div>&lt;!&ndash;End portfolio-wrapper &ndash;&gt;-->
        <!--              </div>&lt;!&ndash;End ./col- &ndash;&gt;-->
        <!--            </div>&lt;!&ndash;End latest-portfolio &ndash;&gt;-->
        <!--            <div class="clearfix"></div>-->
        <!--          </div>&lt;!&ndash; end recent-work-wrap &ndash;&gt;-->
        <!--        </div>&lt;!&ndash; end col &ndash;&gt;-->
        <div class="col-sm-4">
          <div class="columnbottom-margin contact-info-wrap">
            <h4 class="widget-title">Contact <span>Details</span></h4>
            <ul class="contact-info list-unstyled">
              <li><i class="fa fa-home"></i> Pune, India</li>
              <li><i class="fa fa-phone"></i> <a href="tel:000-0000-0000">+91-94259-64489</a></li>
              <li><i class="fa fa-envelope"></i> <a href="mailto:sales@yourwebsite.com">prasheelsoni11@gmail.com</a></li>
            </ul><!-- end contact-info  -->

            <ul class="list-inline list-social clearfix">
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-facebook">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-twitter">
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-linkedin">
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul><!-- end list-social -->
          </div><!-- end contact-info-wrap -->
        </div><!-- end col -->
      </div><!-- end footer-top  -->
    </div><!-- end row -->
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <a href="#" class="footer-logo-link"><img class="footer-logo" src="../assets/images/logo.png" alt="Steve"></a>
        <p class="text-center copyright">&copy; Prasheel Soni. All rights reserved.</p>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</footer>

