<section id="about" class="about about-timeline-style">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- start section title-wrap -->
        <div class="title-wrap">
          <div class="section-title-box">
            <h2 class="section-title">About <strong>Me</strong></h2> <small class="pull-right">(PROFESSIONALLY)</small>
          </div><!-- end section-title-box -->
        </div>
        <!-- end section title-wrap -->
      </div><!-- end col -->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="profile-image">
              <img [src]=about?.imageUrl alt="profile photo">
            </div><!-- end profile-image -->
          </div><!-- end col -->
          <div class="col-sm-6">
            <div class="about-text" [innerHTML]="about.about">
              <div class="button-holder">
                <a class="btn btn-shutter-out-horizontal" [href]=about.resumeUrl>Download Resume</a>
                <a class="btn btn-shutter-out-horizontal" href="#contact">Hire Me</a>
              </div><!-- end button-holder -->
            </div><!-- about-text -->
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end col-sm-12 -->
      <div class="col-sm-12">
        <div class="nav-tab-menu">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" data-target="#tab1" aria-expanded="true">
              <i class="fa fa-paper-plane-o"></i>
              <span class="tab-title text-bold">Career</span>
            </a></li>
            <li class=""><a data-toggle="tab" data-target="#tab2" aria-expanded="false">
              <i class="fa fa-graduation-cap"></i>
              <span class="tab-title text-bold">Education</span>
            </a></li>
<!--            <li class=""><a data-toggle="tab" data-target="#tab3" aria-expanded="false">-->
<!--              <i class="fa fa-trophy"></i>-->
<!--              <span class="tab-title text-bold">Award</span>-->
<!--            </a></li>-->
            <li class=""><a data-toggle="tab" data-target="#tab4" aria-expanded="false">
              <i class="fa fa-diamond"></i>
              <span class="tab-title text-bold">Skills</span>
            </a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="tab1" class="tab-pane fade active in">
            <div class="icon-holder experience">
              <i class="fa fa-paper-plane-o"></i>
              <span class="tab-content-title text-bold">Career</span>
            </div>
            <ul class="timeline">
              <li class="timeline-right">
                <div class="timeline-badge">
                  <i class="fa fa-calendar"></i>
                  <p class="date-inverted">June 2019 - Present</p>
                </div><!-- end timeline-badge -->
                <div class="timeline-panel">
                  <div class="experience-content">
                    <img height="70" src="../../assets/images/profile/mastercard.png">
                    <h4>Mastercard Technologies Pvt. Ltd.</h4>
                    <h5>Engineer, Software Engineering</h5>
                    <p>The job is all about creating fast, optimised and awesome front-end applications</p>
                  </div>
                </div><!--end timeline-panel -->
              </li><!-- end timeline-right -->
              <li class="timeline-left">
                <div class="timeline-badge">
                  <i class="fa fa-calendar"></i>
                  <p class="date">June-2018 - June 2019</p>
                </div><!-- end timeline-badge -->
                <div class="timeline-panel">
                  <div class="experience-content">
                    <img height="70" src="../../assets/images/profile/zensar.png">
                    <h4>Zensar Technologies</h4>
                    <h5>Software Engineer (Contingent worker @ Mastercard)</h5>
                    <p>The job was all about creating fast, optimised and awesome front-end applications. </p>
                  </div>
                </div><!-- end timeline-panel -->
              </li><!-- end timeline-left -->
              <li class="timeline-right">
                <div class="timeline-badge">
                  <i class="fa fa-calendar"></i>
                  <p class="date-inverted">July 2017 - June 2018</p>
                </div><!-- end timeline-badge -->
                <div class="timeline-panel">
                  <div class="experience-content">
                    <img height="70" src="../../assets/images/profile/hotwax.png">
                    <h4>HotWax Systems Pvt. Ltd.</h4>
                    <h5>Enterprise Software Engineer</h5>
                    <p>The job was all about creating enterprise grade hybrid mobile applications.</p>
                  </div>
                </div><!-- end timeline-panel -->
              </li><!-- end timeline-right -->
            </ul><!-- end timeline -->
          </div>
          <div id="tab2" class="tab-pane fade">
            <div class="icon-holder education">
              <i class="fa fa-graduation-cap"></i>
              <span class="tab-content-title text-bold">Education</span>
            </div>
            <ul class="timeline">
              <li class="timeline-left">
                <div class="timeline-badge">
                  <i class="fa fa-calendar"></i>
                  <p class="date">2021 ...</p>
                </div><!-- end timeline-badge -->
                <div class="timeline-panel">
                  <div class="experience-content">
                    <h4>Master's Degree</h4>
                    <h5>Coming Soon...</h5>
                  </div>
                </div><!--end timeline-panel -->
              </li><!-- end timeline-left -->
              <li class="timeline-right">
                <div class="timeline-badge">
                  <i class="fa fa-calendar"></i>
                  <p class="date-inverted">2013 - 2017</p>
                </div><!-- end timeline-badge -->
                <div class="timeline-panel">
                  <div class="experience-content">
                    <h4>Bachelor's Degree</h4>
                    <h5>Acropolis Institute of Technology and Research</h5>
                  </div>
                </div><!-- end timeline-panel -->
              </li><!-- end timeline-right -->
              <li class="timeline-left">
                <div class="timeline-badge">
                  <i class="fa fa-calendar"></i>
                  <p class="date">2001 - 2012</p>
                </div><!-- end timeline-badge -->
                <div class="timeline-panel">
                  <div class="experience-content">
                    <h4>School Education</h4>
                    <h5>Kendriya Vidyalaya</h5>
                  </div>
                </div><!-- end timeline-panel -->
              </li><!-- end timeline-left -->
            </ul><!-- end timeline -->
          </div>
<!--          <div id="tab3" class="tab-pane fade">-->
<!--            <div class="icon-holder education">-->
<!--              <i class="fa fa-trophy"></i>-->
<!--              <span class="tab-content-title text-bold">Award</span>-->
<!--            </div>-->
<!--            <ul class="timeline">-->
<!--              <li class="timeline-right">-->
<!--                <div class="timeline-badge">-->
<!--                  <i class="fa fa-calendar"></i>-->
<!--                  <p class="date-inverted">May 2017</p>-->
<!--                </div>&lt;!&ndash; end timeline-badge &ndash;&gt;-->
<!--                <div class="timeline-panel">-->
<!--                  <div class="experience-content">-->
<!--                    <h4>People Awards</h4>-->
<!--                    <h5>Institute Name</h5>-->
<!--                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash;end timeline-panel &ndash;&gt;-->
<!--              </li>&lt;!&ndash; end timeline-right &ndash;&gt;-->
<!--              <li class="timeline-left">-->
<!--                <div class="timeline-badge">-->
<!--                  <i class="fa fa-calendar"></i>-->
<!--                  <p class="date">April 2016</p>-->
<!--                </div>&lt;!&ndash; end timeline-badge &ndash;&gt;-->
<!--                <div class="timeline-panel">-->
<!--                  <div class="experience-content">-->
<!--                    <h4>People Awards</h4>-->
<!--                    <h5>Institute Name</h5>-->
<!--                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; end timeline-panel &ndash;&gt;-->
<!--              </li>&lt;!&ndash; end timeline-left &ndash;&gt;-->
<!--              <li class="timeline-right">-->
<!--                <div class="timeline-badge">-->
<!--                  <i class="fa fa-calendar"></i>-->
<!--                  <p class="date-inverted">August 2015</p>-->
<!--                </div>&lt;!&ndash; end timeline-badge &ndash;&gt;-->
<!--                <div class="timeline-panel">-->
<!--                  <div class="experience-content">-->
<!--                    <h4>People Awards</h4>-->
<!--                    <h5>Institute Name</h5>-->
<!--                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash; end timeline-panel &ndash;&gt;-->
<!--              </li>&lt;!&ndash; end timeline-right &ndash;&gt;-->
<!--            </ul>&lt;!&ndash; end timeline &ndash;&gt;-->
<!--          </div>-->
          <div id="tab4" class="tab-pane fade">
            <div class="row">
              <img class="col-sm-2" src="../../assets/images/logos/node-logo.png" alt="Node.JS Logo">
              <img class="col-sm-2" src="../../assets/images/logos/angular-logo.svg" alt="Node.JS Logo">
              <img class="col-sm-2" src="../../assets/images/logos/css3-logo.svg" alt="Node.JS Logo">
              <img class="col-sm-2" src="../../assets/images/logos/html5-logo.png" alt="Node.JS Logo">
              <img class="col-sm-2" src="../../assets/images/logos/js-logo.png" alt="Node.JS Logo">
              <img class="col-sm-2" src="../../assets/images/logos/stencil-logo.png" alt="Node.JS Logo">
            </div><!-- end row -->
          </div>
        </div><!-- end tab-content -->
      </div><!-- end col-sm-12 -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>
