<section id="service" class="service service-3-column parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- start section title-wrap -->
        <div class="title-wrap">
          <div class="section-title-box">
            <h2 class="section-title">My  <strong>Interests</strong></h2>
          </div><!-- end section-title-box -->
        </div>
        <!-- end section title-wrap -->
        <div class="intro-text text-center">
          Hobbies are a contradiction; they take work and turn it into leisure, and take leisure and turn it into work.
        </div><!-- end intro-text -->
      </div><!-- end col -->
      <div class="col-md-4 col-xs-6">
        <div class="service-wrap">
          <div class="service-box">
            <div class="service-box-wrap">
              <div class="service-icon-box">
                <i class="fa fa-globe"></i>
              </div>
              <div class="service-short-content-box">
                <h3>Travelling</h3>
                <p>Travelling is something that I am fond of since I was a child. I believe that travelling allows an individual to expand it's horizon.
                Travelling allows me to explore different cultures, meet new people, visit new places and above all this, it helps me to become a better human being.</p>
<!--                <a class="btn btn-shutter-out-horizontal" href="single-service.html">Read More</a>-->
              </div>
            </div><!-- end service-box-wrap -->
          </div><!-- end service-box -->
        </div><!-- end service-wrap -->
      </div><!-- end col -->
      <div class="col-md-4 col-xs-6">
        <div class="service-wrap">
          <div class="service-box">
            <div class="service-box-wrap">
              <div class="service-icon-box">
                <i class="fa fa-road"></i>
              </div>
              <div class="service-short-content-box">
                <h3>Biking</h3>
                <p>Biking became one of my interest in the past 2 years, when I bought my Bajaj Dominar 400. Since then I've been riding often and now I'm a Ladakh Return Rider ;).
                  <br>I am a member of Dominar Hyperriders Pune as well. My love for biking and my bike is eternal</p>
<!--                <a class="btn btn-shutter-out-horizontal" href="single-service.html">Read More</a>-->
              </div>
            </div><!-- end service-box-wrap -->
          </div><!-- end service-box -->
        </div><!-- end service-wrap -->
      </div><!-- end col -->
      <div class="col-md-4 col-xs-6">
        <div class="service-wrap">
          <div class="service-box">
            <div class="service-box-wrap">
              <div class="service-icon-box">
                <i class="fa fa-camera-retro"></i>
              </div>
              <div class="service-short-content-box">
                <h3>Photography</h3>
                <p>Photography is something that I always wanted to learn. I started clicking pictures in early 2016-ish under the name of #nexusPhotography. I created a page "Bubble Clicks" on instagram just to have a collection of my photos. I'm an avid photographer but I really want to become a professional one day.</p>
<!--                <a class="btn btn-shutter-out-horizontal" href="single-service.html">Read More</a>-->
              </div>
            </div><!-- end service-box-wrap -->
          </div><!-- end service-box -->
        </div><!-- end service-wrap -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!--End Container -->
</section>
