<section class="section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 mb-lg-auto">
        <img src="assets/images/illustrations/banner.svg" alt="Banner logo" data-aos="fade-right" class="img-fluid">
      </div>
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h4>Hi, I'm</h4>
        <h1 class="header-title-text type-animate">
          <a href="#" class="typewrite" data-period="2000" data-type='[ "Prasheel Soni", "Full Stack Dev", "Open Source Enthusiast", "Traveller", "The Frontend Guy", "From India" ]'>
            <span class="wrap"></span>
          </a>&nbsp;
        </h1>
        <p class="lead text-white mt-4"></p>
        <a download href="assets/docs/prasheel-resume.pdf" class="btn btn-icon btn-3 btn-white" type="button">
          <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
          <span class="btn-inner--text">Resume</span>
        </a>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
