<!-- start slider and home section -->
<section id="home" class="home">
  <div class="home-top-banner banner-5">
    <div class="display-table">
      <div class="display-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="banner-content banner-content-fullwidth">
                <h3>Hi, I'm</h3>
                <h1 class="header-title-text type-animate">
                  <a href="#" class="typewrite" data-period="2000" data-type='[ "Prasheel Soni", "Full Stack Dev", "Traveller", "The Frontend Guy", "From India" ]'>
                    <span class="wrap"></span>
                  </a>&nbsp;
                </h1>
                <ul class="list-inline list-social">
                  <li>
                    <a href="https://facebook.com/prasheelsoni11" class="social-icon social-icon-facebook">
                      <i class="fa fa-facebook"></i>
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com" class="social-icon social-icon-twitter">
                      <i class="fa fa-twitter"></i>
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/in/ps11" class="social-icon social-icon-linkedin">
                      <i class="fa fa-linkedin"></i>
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/ps011" class="social-icon social-icon-github">
                      <i class="fa fa-github"></i>
                      <i class="fa fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div><!--End banner-content -->
            </div><!--End col-sm-12 -->
          </div><!--End row -->
        </div><!--End container -->
      </div><!--End display-table-cell -->
    </div><!--End display-table -->
  </div><!--End home-top-banner -->
</section>
<!-- end slider and home section -->
