<!-- start banner -->
<section id="single-page-banner" class="page-title page-title-image blog-hbg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Article Details</h2>
      </div><!-- end col -->
      <div class="col-sm-6">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Post Title</li>
        </ul>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- end slider -->

<div id="content" class="content SectionMargin">
  <div class="container">
    <div class="row">
      <!-- start single-blog -->
      <div id="single-post-content" class="col-sm-12">
        <article class="post">
          <div class="post-image">
            <img src="../../assets/images/blog/2.jpg" alt="Post Image">
          </div><!-- end post-image -->
          <div class="post-title">
            <h1>A small river named Duden place</h1>
          </div><!-- end post-title -->
          <div class="post-meta">
            <span><i class="fa fa-user"></i><a href="#">Zinia Jones</a></span>
            <span><i class="fa fa-calendar"></i><a href="#">Oct 12, 2017</a></span>
            <span><i class="fa fa-folder-open"></i><a href="#">General</a>,<a href="#">Media</a></span>
            <span><i class="fa fa-comments"></i><a href="#comment">8</a></span>
          </div><!-- end post-meta -->

          <div class="post-body">
            <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
            <blockquote>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</blockquote>
            <p>Vivamus posuere convallis cursus. Curabitur sit amet faucibus quam. Aliquam suscipit congue lectus. Donec eget imperdiet odio, quis sodales ipsum. Donec in pulvinar mi. Proin ipsum orci, blandit et efficitur ut, convallis pretium sapien. Pellentesque tincidunt ac risus a convallis. Morbi vitae nunc a augue sodales lacinia. Vivamus sagittis aliquet magna, eget varius quam. Sed feugiat rutrum turpis a efficitur.</p>
            <p>Etiam luctus ullamcorper erat venenatis suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus commodo metus nisi, eu fringilla mi pellentesque commodo. Etiam imperdiet feugiat nisi, id congue dui tempus nec. Ut non ipsum eu magna faucibus pellentesque et id tellus. Phasellus a augue scelerisque sem consequat rhoncus. Sed eu condimentum dui.</p>
          </div><!-- end post-body -->

          <!-- start share-icon -->
          <div class="share-icon clearfix">
            <span>Share this Post:</span>
            <ul class="list-inline list-social">
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-colored social-icon-facebook">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-colored social-icon-twitter">
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-colored social-icon-gplus">
                  <i class="fa fa-google-plus"></i>
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-colored social-icon-vimeo">
                  <i class="fa fa-vimeo"></i>
                  <i class="fa fa-vimeo"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-colored social-icon-pinterest">
                  <i class="fa fa-pinterest"></i>
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon social-icon-small social-icon-colored social-icon-linkedin">
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul><!-- end list-social -->
          </div>
          <!-- end share-icon -->
        </article><!-- end post -->
      </div>
    </div>
  </div>
</div>
